<a mat-stroked-button class="button-bar" color="primary" [routerLink]="[ '/event/new' ]">Nuevo</a>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Type. </th>
            <td mat-cell *matCellDef="let event"> {{event.type}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let event"> {{event.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let event"> {{event.date.seconds * 1000 | date}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let event">
                <button mat-raised-button (click)="goto(event, 'edit')">Edit</button>
                <button mat-raised-button (click)="goto(event)">Detail</button>
                <button mat-raised-button (click)="goto(event, 'register')">Register</button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>