@import "theme/variables";
@import "theme/mixin";

:host {
    @include column-flex;
    align-items: center;
    justify-content: center;

    header {
        align-self: stretch;

        .mat-toolbar-row {
            padding: 0 16px 0 0;
        }

        .logo {
            margin-bottom: -20px;
            margin-right: 10px;
        }

        .separator {
            flex: 1;
        }
    }

    main {
        @include column-flex;
        width: 100%;

        mat-sidenav-container {
            @include row-flex;

            mat-sidenav {
                display: flex;
                flex-direction: column;
                overflow: hidden;
                white-space: nowrap;
            }

            mat-sidenav-content {
                @include column-flex;
                padding: 5px 10px;
            }
        }
    }

    footer {
        align-self: stretch;
        font-size: 0.7em;
        text-align: center;
    }
}
