<header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>
                <!-- <a class="navbar-brand" [routerLink]="[ '/' ]"> -->
                    <img src="/assets/images/logo-50.png" class="d-inline-block align-top logo"
                        alt="">
                    Hackers <span class="hf-slash">/</span> Founders Valencia
                <!-- </a> -->
            </span>
        </mat-toolbar-row>

    </mat-toolbar>
</header>

<main>
    <router-outlet></router-outlet>
</main>

<footer>
    footer
</footer>