@import "theme/variables";
@import "theme/mixin";

:host {
    @include column-flex;
    align-items: center;
    justify-content: center;

    header {
        align-self: stretch;

        .logo {
            margin-bottom: -20px;
            margin-right: 10px;
        }

        .separator {
            flex: 1;
        }
    }

    main {
        @include column-flex;
        width: 50%;
    }

    footer {
        align-self: stretch;
        font-size: 0.7em;
        text-align: center;
    }
}
