<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="[ '/' ]">
            <img src="/assets/images/logo-50.png" width="30" height="30" class="d-inline-block align-top logo" alt="">
            Hackers <span>/</span> Founders Valencia
        </a>
    </nav>
</header>

<main>
    <h2>Bienvenido a H/F Valencia</h2>
    <p>por ahora estamos en construcción, pero si deseas formar parte de esta comunmidad, déjanos tu email y pronto nos
        pondremos en contacto para informarte sobre todas las novedades que se avecinan.
    </p>
    <form class="form-inline">
        <div class="input-group w-100">
            <input type="text" class="form-control form-control-lg" placeholder="Email" disabled>
            <div class="input-group-apend">
                <button type="submit" class="btn btn-lg btn-primary" disabled>Enviar</button>
            </div>
        </div>
    </form>
</main>

<footer>
    footer
</footer>