<ng-container *ngIf="event">
    <div class="event-detail">
        <div class="event-image">
            <img [src]="event?.image" alt="">
        </div>
        <div class="event-description">
            <div class="event-date">
                <span class="month">{{ getDate() | date : 'MMM' }}</span>
                <span class="day">{{ getDate() | date : 'dd' }}</span>
            </div>
            <div class="event-type">{{ event?.type }}</div>
            <div class="event-title">{{ event?.name }}</div>
            <div class="event-price">Free</div>
        </div>
    </div>
</ng-container>


<form [formGroup]="form" [ngClass]="{'hide': !event}">
    <div class="summary" color="primary">
        <span>Total Registros:<b>{{ totalRegistered }}</b></span>
        <span>Total Asistentes:<b>{{ totalAttendees }}</b></span>
    </div>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Buscar por correo o identificador" formControlName="criteria">
    </mat-form-field>
</form>
<table mat-table [dataSource]="dataSource" [class.hide]="!event" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position -->
    <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> Pos. </th>
        <td mat-cell *matCellDef="let attendant; let i = index"> {{ i + 1 }} </td>
    </ng-container>

    <!-- FirstName -->
    <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Nombre. </th>
        <td mat-cell *matCellDef="let attendant"> {{attendant.firstName}} </td>
    </ng-container>

    <!-- LastName -->
    <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Apellido </th>
        <td mat-cell *matCellDef="let attendant"> {{attendant.lastName}} </td>
    </ng-container>

    <!-- Email -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let attendant"> {{attendant.email}} </td>
    </ng-container>

    <!-- Gender -->
    <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Género </th>
        <td mat-cell *matCellDef="let attendant">
            <ng-container [ngSwitch]="attendant.gender">
                <img *ngSwitchCase="'female'" class="gender-image" src="/assets/images/female.svg" alt="female">
                <img *ngSwitchCase="'male'" class="gender-image" src="/assets/images/male.svg" alt="male">
                <img *ngSwitchDefault class="gender-image" src="/assets/images/person.svg" alt="other">
            </ng-container>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Confirmado </th>
        <td mat-cell *matCellDef="let attendant">
            <mat-slide-toggle color="accent" [(ngModel)]="attendant.confirmed"
                (change)="changeConfirmedStatus(attendant)">
            </mat-slide-toggle>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [class.hide]="!event" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>