@import "theme/mixin";
@import "theme/variables";

$break-small: 320px;
$break-large: 800px;

:host {
    @include column-flex;
    align-self: center;
    border: none;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
    flex: none;
    max-width: 1080px;
    overflow: hidden;

    .hide {
        display: none;
    }

    .event-detail {
        @include row-flex;
        flex: none;

        @media screen and (max-width: $break-large) {
            @include column-flex;
        }

        .event-image {
            flex: 2;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .event-description {
            @include column-flex;
            background-color: $background-gray;
            padding: 15px 5px 5px 15px;

            @media screen and (max-width: $break-large) {
                @include row-flex;
                background-color: transparent;
            }
        }

        .event-title {
            color: black;
            flex: 1;
            font-size: 1.25em;
            margin-top: 15px;

            @media screen and (max-width: $break-large) {
                margin-left: 15px;
            }
        }

        .event-date {
            @include column-flex;
            flex: 0;

            .day {
                font-size: 1.5em;
            }
        }

        .event-time {
            font-size: 0.75em;
        }

        .event-type {
            font-size: 0.9em;
            text-transform: uppercase;
        }

        .event-price {
            @media screen and (max-width: $break-large) {
                align-self: flex-end;
                margin-right: 20px;
            }
        }
    }

    .summary {
        @include column-flex;
        align-items: flex-end;
        background-color: $blue-hf;
        color: $background-white;
        padding: 10px 15px 10px 15px;

        span {
            font-size: 1.05em;
            line-height: 1.05em;
            b {
                display: inline-block;
                font-size: 1.1em;
                text-align: right;
                width: 35px;
            }
        }
    }

    form {
        @include column-flex;

        mat-form-field {
            margin: 15px 15px 5px 15px;
        }
    }

    .gender-image {
        height: 35px;
        width: 35px;
    }
}
