<event-header [event]="currentEvent"></event-header>

<div class="register" *ngIf="currentRegister">
    <h1>Registro exitoso</h1>
    <a [routerLink]="[ '/event', currentEvent?._id ]" mat-raised-button color="primary" class="btn-back">Volver al evento</a>

    <p>Ya te has registrado con exitosamente en el evento, te invitamos a compartir esta imagen en tus redes sociales</p>
    <p>Al momento de la entrada al evento deberás indicar el codigo de registro
    <span class="register-code">{{ currentRegister._id }}</span> o tu correo electrónico.
    </p>
</div>