<div class="event-detail" *ngIf="currentEvent">
    <img [src]="currentEvent?.image" alt="">
</div>
<div class="register" *ngIf="currentEvent">
    <h3 class="event-title">
        {{ currentEvent?.name }}
        <span class="date">{{ getDate() | date }} - {{ currentEvent?.startTime | time }}</span>
    </h3>
    <form [formGroup]="form" class="register" (ngSubmit)="submit()" novalidate>

        <!-- Name -->
        <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
    
        <!-- Email -->
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
    
        <!-- birthdate -->
        <mat-form-field appearance="outline">
            <mat-label>Fecha nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" placeholder="Fecha Nacimiento" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    
        <!-- OccupationArea -->
        <mat-form-field appearance="outline">
            <mat-label>Área de experticia</mat-label>
            <mat-select placeholder="Type" formControlName="occupationArea">
                <mat-option value="programmation">Programación</mat-option>
                <mat-option value="design">Diseño Gráfico</mat-option>
                <mat-option value="business">Negocios</mat-option>
            </mat-select>
        </mat-form-field>
    
        <!-- Description -->
        <!-- <mat-form-field appearance="outline">
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="Description" formControlName="description"></textarea>
        </mat-form-field> -->
    
        <!-- Location -->
        <!-- <mat-form-field appearance="outline">
            <mat-label>Ubicación</mat-label>
            <textarea matInput placeholder="Location" formControlName="location"></textarea>
        </mat-form-field> -->
    
        <!-- Image -->
        <!-- <mat-form-field appearance="outline">
            <mat-label>Imagen</mat-label>
            <input matInput placeholder="Image" formControlName="image">
        </mat-form-field> -->
    
        <!-- Submit -->
        <div class="button-wrapper">
            <button mat-flat-button color="primary" [disabled]="!form.valid">Enviar</button>
        </div>
    </form>
</div>
