/* You can add global styles to this file, and also import other style files */
@import "./theme/variables";
@import "./theme/mixin";

html {
    height: 100%;
    min-width: 300px;

    body {
        @include column-flex;
        color: $main-color;
        font-family: "Open Sans", Arial, sans-serif;
        font-size: 16px;
        font-weight: 200;
        height: 100%;

        * {
            &:focus {
                box-shadow: none !important;
            }
        }

        .enlace {
            font-weight: bold !important;
            color: #2f364b !important;
            text-decoration: none !important;
        }

        .hf-slash {
            color: $red-hf;
        }
    }
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
