@import "theme/mixin";

$break-small: 320px;
$break-large: 800px;

:host {
    @include column-flex;
    align-self: center;
    border: none;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    flex: none;
    max-width: 1080px;
    overflow: hidden;

    .event-info {
        padding: 15px;
        position: relative;

        .register-btn {
            position: absolute;
            right: 25px;
        }
    }
}