<div class="event-detail" *ngIf="event">
    <div class="event-image">
        <img [src]="event?.image" alt="">
    </div>
    <div class="event-description">
        <div class="event-date">
            <span class="month">{{ getDate() | date : 'MMM' }}</span>
            <span class="day">{{ getDate() | date : 'dd' }}</span>
        </div>
        <div class="event-type">{{ event?.type }}</div>
        <div class="event-title">{{ event?.name }}</div>
        <div class="event-price">Free</div>
    </div>
</div>

<div class='event-info' *ngIf="event; else notfound">
    <a [routerLink]="[ '/event', event._id, 'register' ]" mat-raised-button color="primary" class="register-btn">Registro</a>
    <div [innerHTML]="event?.description"></div>
    <h4>Ubicación</h4>
    <div [innerHTML]="event?.location"></div>
</div>

<ng-template #notfound>
    No encontrado
</ng-template>